[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/pascalinia"]
	path = themes/pascalinia
	url = https://github.com/corneliusdavid/hugo-pascalinia.git
